<p id="notice"><%= notice %></p>

<p><%= @response.body["face"] %></p>

<p>
  <strong>Happiness:</strong>
  <%= @user.happiness %>
</p>

<p>
  <strong>Health:</strong>
  <%= @user.health %>
</p>

<p>
  <strong>Wealth:</strong>
  <%= @user.wealth %>
</p>

<p>
  <strong>Culture:</strong>
  <%= @user.culture %>
</p>

<p>
  <strong>Drama:</strong>
  <%= @user.drama %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Spirituality:</strong>
  <%= @user.spirituality %>
</p>

<p>
  <strong>Relationships:</strong>
  <%= @user.relationships %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @user.activity %>
</p>

<p>
  <strong>Reflectivity:</strong>
  <%= @user.reflectivity %>
</p>

<p>
  <strong>Civilization:</strong>
  <%= @user.civilization %>
</p>

<p>
  <strong>Passion:</strong>
  <%= @user.passion %>
</p>

<p>
  <strong>Control:</strong>
  <%= @user.control %>
</p>

<p>
  <strong>Satisfaction:</strong>
  <%= @user.satisfaction %>
</p>

<p>
  <strong>Self view:</strong>
  <%= @user.self_view %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
